/* *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
} */

::selection{
    /* color: #4f46e5; */
    /* color: orange; */
    /* color: skyblue; */
    color: rgb(168, 175, 239)
}